h1, h2, h3, #exitIntroButton {
  font-family: 'Unkempt', cursive;
}
/*index intro screen*/
#startGameButton {
  display: none;
}
.intro_screen h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
}
.intro_screen {
  text-align: center;
}
.intro_screen img {
  max-width: 100%;
  padding: 2%;
}
#exitIntroButton {
  font-size: 45px;
  padding: 2%;
  border-radius: 20%;

}
/*index main game*/
.game__board {
  display: none;
}
.main_page_header {
  height: 240px;
  margin-top: -5px;
  background-image: url("../img/machi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
}
.main_page_header h1 {
  margin-top: 0;
  font-size: 100px;
  color: white;

}
.main_game_div {
  float: right;
  width: 80%;
}
.die-pics {
  float: left;
  width: 20%;
  display: none;
}
.rule_link {
  float: right;
  display: none;
  font: #3366cc;
  font-family: 'Unkempt', cursive;
  font-size: 35px;
  font-weight: bold;
}

/*scripts append main game */
.player {
  padding-left: 2%;
  opacity: .4;
}
.player, .card {
  border-radius: 5px;
}
.player__info h2 {
  font-size: 30px;
}
/*player creation page*/
.player_creation {
  display: none;
  text-align: center;
}
.player_rules{
  border: solid #33ccff 10px;
  font-size: 25px;
  margin: 5%;
  padding: 2%;
}
.player_rules h2 {
  text-decoration: underline;
}
.well {
  background:#d6f5f5;
  color: #003d66;
}
/*populate card JS*/
/*.js__not-owned {
  opacity: .25;
}*/

.js__not-rolled {
  opacity: .1;
}
h2 {
  font-size: 20px;
}

.card__row img {
  /*width: 50px;*/
}

.card__row div {
  text-align: center;
}

.card__quantity {
  font-size: 23px;
  font-weight: bold;
}
button[disabled] {
  opacity: 0.1;
}
.mainbuttons {
  margin-left: 20px;
}
/*@media (min-width: 760px) {
  .card__row img {
    width: 100px;
  }
  .game__board {
    float: left;
    width: 25%;
  }
  .game__players {
    float: right;
    width: 75%;
  }
}*/
